{
  "presets": [
    "@babel/preset-typescript",
    "@babel/flow",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "mode": "unsafe-wrap"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}
